@tailwind base;
@tailwind components;
@tailwind utilities;



@media only screen and (max-width: 600px) {
  
    ::-webkit-scrollbar{
        display: none;
    }

  }

::-webkit-scrollbar{
display: none;

}
::-webkit-scrollbar-thumb{
    display: none;
}

 audio {
  outline: none;
}

 audio::-webkit-media-controls-panel {
  display: none;
}

 audio::-webkit-media-controls-play-button {
  display: none;
}

 audio::-webkit-media-controls-play-button:hover {
  display: none;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color:rgb(0, 0, 0);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
